<header class="nav-bar">
  <img src="/images/David-Revoy_logo.svg" alt="David Revoy Logo" />
  <nav>
    <ul class="navigation">
      <li><a class="{{#if activeHome}}current{{/if}}" href="/">Home</a></li>
      <li><a class="{{#if activeAbout}}current{{/if}}" href="/about">About</a></li>
      <li><a class="{{#if activeWorks}}current{{/if}}" href="/works">Works</a></li>
      <li><a class="{{#if activeGallery}}current{{/if}}" href="/gallery">Gallery</a></li>
    </ul>
  </nav>
</header>