<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header class="nav-bar">
      <img src="/images/David-Revoy_logo.svg" alt="David Revoy Logo" />
      <nav>
        <ul class="navigation">
          <li><a href="/">Home</a></li>
          <li><a class="current" href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <article class="content">
      <h2>About</h2>
      <p>
        Almost 20 years of experience in illustration, art direction,
        concept-art, storytelling and teaching.
      </p>
      <p>
        He's an inspiring artist working exclusivley with Free/Libre and
        Open-Source Software on a Gnu/Linux System since 2009.
      </p>
      <p>
        He's also the writer of the (not anymore only) webcomic
        <a href="http://https://www.peppercarrot.com/">Pepper & Carrot</a>.
      </p>
    </article>
  </body>
</html>
