<article class="content">
  <h2>Gallery</h2>
  <ul class="gallery">
    <li><img src="/images/Charles_byDR.jpg" alt="Charles Darwin" /></li>
    <li><img src="/images/Alice_byDR.jpg" alt="Alice in Wonderland" /></li>
    <li>
      <img src="/images/Dragonfish_byDR.jpg" alt="Dragonfish Restaurant" />
    </li>
  </ul>
</article>
