<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <img src="/images/David-Revoy_logo.svg" alt="David Revoy Logo" />
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <article>
      <h2>Gallery</h2>
      <ul>
        <li><img src="/images/Charles_byDR.jpg" alt="Charles Darwin" /></li>
        <li><img src="/images/Alice_byDR.jpg" alt="Alice in Wonderland" /></li>
        <li>
          <img src="/images/Dragonfish_byDR.jpg" alt="Dragonfish Restaurant" />
        </li>
      </ul>
    </article>
  </body>
</html>
