<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header class="nav-bar">
      <img src="/images/David-Revoy_logo.svg" alt="David Revoy Logo" />
      <nav>
        <ul class="navigation">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a class="current" href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <article class="content">
      <h2>Gallery</h2>
      <ul class="gallery">
        <li><img src="/images/Charles_byDR.jpg" alt="Charles Darwin" /></li>
        <li><img src="/images/Alice_byDR.jpg" alt="Alice in Wonderland" /></li>
        <li>
          <img src="/images/Dragonfish_byDR.jpg" alt="Dragonfish Restaurant" />
        </li>
      </ul>
    </article>
  </body>
</html>
