<article class="content">
  <h2>Works</h2>
  <ul>
    <li>
      <h3>Cinema</h3>
      <ul>
        <li>
          <h4>Kipik production</h4>
          <p>Boy enfant esclave movie - concept-art</p>
        </li>
        <li>
          <h4>Blender Foundation</h4>
          <p>
            Sintel, Tears of Steel, Cosmos Landromat, Spring - Art-director
            on the first, Concept-artist on the two last
          </p>
        </li>
      </ul>
    </li>
    <li>
      <h3>Video-games</h3>
      <ul>
        <li>
          <h4>Valve / Blackcat games</h4>
          <p>Alien Swarm Infested - Character design</p>
        </li>
        <li>
          <h4>Blu-Pix</h4>
          <p>Chibi-Bomba - Concept-art, Character design</p>
        </li>
        <li>
          <h4>Mindscape / Belle prod.</h4>
          <p>
            Troll de Troy, la mort rose - 2D painting asset, matepainting
            artist
          </p>
        </li>
        <li>
          <h4>Greensauce Games</h4>
          <p>Dream of a Geisha 1 and 2 , Joan of Arc - 2D painting asset</p>
        </li>
        <li>
          <h4>Blueflame publishing</h4>
          <p>Askaryl’s Grimoire , interactive gamebooks - illustration</p>
        </li>
      </ul>
    </li>
    <li>
      <h3>Education</h3>
      <ul>
        <li>
          <h4>Blender Foundation</h4>
          <p>Chaos&Evolutions and Blend&Paint - two DVDs of training</p>
        </li>
        <li>
          <h4>University Cergy-Pontoise</h4>
          <p>High school CG teacher (Krita)</p>
        </li>
        <li>
          <h4>Haute Ecole Albert Jaquard</h4>
          <p>High school CG teacher (Photoshop)</p>
        </li>
        <li>
          <h4>CGcookie</h4>
          <p>Video training, concept-art</p>
        </li>
      </ul>
    </li>
  </ul>
</article>